.apartments-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    background-color: #f7f7f7;
    margin: 30px 95px 0px 95px;
    padding: 30px 50px 30px 50px;
    box-shadow: 0 3px 4px rgba(0.1, 0.1, 0.1, 0.1);
  }
  
  .apartment-card {
    width: 450px;
    height: 450px;
    border-radius: 15px;
    background-color: #ff6060;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 4px rgba(0.5, 0.5, 0.5, 0.5);
  }

  .apartment-card:hover {
    transform: translateY(-10px);
    filter: brightness(1.1);
    box-shadow: 0 3px 4px rgba(0.5, 0.5, 0.5, 0.7);
  }
  
  .apartment-card img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    position: relative;
    z-index: 2;
    filter: brightness(0.8)
  }
  
  .apartment-card .apartment-info {
    bottom: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    left: 0;
    line-height: 1.5rem;
    padding: 15px;
    position: absolute;
    z-index: 3;
}