.error-container {
    margin: 150px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container h1 {
    color: #ff6060;
    font-size: 300%;
    margin-top: 100px;
    margin-bottom: 150px;
}

.error-container nav {
    font-weight: 600;
    margin-bottom: 150px;
}

.error-container a {
    color: black;
    text-decoration-line: underline;
    font-size: larger;
}

.error-container a:hover {
    background-color: #ff6060;
    color: white;
    padding: 15px;
    border-radius: 25px;
}

.error-img {
    width: 900px;
}

/* Media query pour les tablettes */
@media screen and (max-width: 1024px) {
    .error-img {
        width: 500px;
    }
    .error-container {
        margin: 150px 0px 0px 0px;
    }
    .error-container h1 {
        text-align: center;
        font-size: x-large;
    }
}

@media screen and (max-width: 740px) {
    .error-img {
        width: 200px;
    }
    .error-container h1 {
        text-align: center;
        font-size: medium;
        margin-left: 50px;
        margin-right: 50px;
    }
    .error-container a {
        font-size: small;
    }
}