.nav-bar {
  align-items: center;
  margin: 0px 95px 0px 0px;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-bar a {
  font-size: x-large;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav-bar a:hover {
  cursor: pointer;
  font-weight: 600;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 30px;
}

.header-logo {
  width: 250px;
  height: auto;
  margin-left: 80px;
}

.nav-bar ul li a.active {
  font-weight: bold;
  background-color: #f7f7f7;
  border: solid #ff6060;
  padding: 7px;
  border-radius: 25px;
}

@media screen and (max-width: 740px) {
  .header-logo {
    width: 170px;
    margin-left: 10px;
  }

  .nav-bar {
    margin: 0px;
  }

  .nav-bar ul {
    padding: 5px;
  }

  .nav-bar ul li {
    margin-right: 10px;
  }

  .banner h2 {
    font-size: 1.5rem;
  }

  .nav-bar a {
    font-size: medium;
  }
}

@media screen and (max-width: 430px) {
  .nav-bar {
    margin-left: 10px;
  }

  .nav-bar ul li a.active {
    border: none;
    background-color: inherit;
  }
}