.nav-bar {
  align-items: center;
  margin: 0px 95px 0px 0px;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-bar a {
  font-size: x-large;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.nav-bar a:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 30px;
}

.header-logo {
  width: 250px;
  height: auto;
  margin-left: 80px;
}