.banner {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    height: 280px;
    margin: 50px 95px 0px 95px;
    box-shadow: 0 3px 4px rgba(0.5, 0.5, 0.5, 0.5);
}

.banner img {
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 15px;
    min-height: 100px;
    object-fit: cover;
    filter: brightness(0.4);
}

.banner h2 {
    color: white;
    position: absolute;
    font-size: 3rem;
}